body, html {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 100%;
}

a.dir  { font-family: tahoma; font-size: 12px; font-weight: bold; color: #000000 }
a.file  { font-family: tahoma; font-size: 12px; color: #222222 }
a.back  { font-family: tahoma; font-size: 12px; color: #FFFFFF }
a.close  { font-family: tahoma; font-size: 12px; color: #FFFFFF }
td.td_curr_dir  { font-family: tahoma; font-size: 12px; color: #FFFFFF; background-color: #000000 }
td.td_back  { background-color: #444444 }
td.td_close  { background-color: #444444 }
td.td_main  { background-color: #AAAAAA }
