* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
	font: .74em "Trebuchet MS" Verdana, Arial, sans-serif;
	line-height: 1.5em;
}
a {
	color: #3B6EBF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#wrap {
	margin: 20px auto;
	width: 724px;
	background: #fff url('midbg.jpg');
	background-repeat: repeat-y;
}

#top {
background: #fff url('topbg.jpg');
height: 30px;
}

#content {
padding: 0 40px 0 40px;
}

#bottom {

background: #fff url('botbg.jpg');
height: 30px;
}


.header {
height: 100px;
background: #85ACF7 url('hidr.jpg');
}

.header h1 { padding-left: 17px; padding-top: 22px; font-size: 22px; color: #FFF; }
.header h1 a { font-size: 22px; color: #FFF; text-decoration: none;}
.header h2 { padding-left: 17px; padding-top: 0px; font-size: 17px; color: #FFF; }

.breadcrumbs {
    background: #F6F9FB;
	border-bottom: 1px solid #E1E1E1;
	padding: 5px;
}

.middle {
	float: left;
	width: 59%;
	margin: 0 10px;
	padding: 1% 1%;
	text-align: justify;
	margin-top:5px;
}

.right {
	float: left;
	width: 30%;
	margin: 0 10px;
	padding: 1% 1%;

}

.right ul {
	padding: 0px 0 0px 20px;
	margin:0;
}

.right li {
	margin-bottom:5px;
	list-style-type: square;
	color: #3B6EBF;
}

.middle h2 { color: #3B6EBF; font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
.right h2 { color: #3B6EBF; font-size: 14px;}


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#footer {
	text-align: center;
	color: #666;
}
.image-listing {
  /*border:1px solid blue;*/
  width:430px;
  position:relative;
  left:-30px;
}
h1,h2 {
  margin-bottom:8px;
}
p{
  margin-bottom:5px;
}
.right p {
  text-align:justify;
}
.middle ul {
	list-style-type: square;
	color: #3B6EBF;
	margin-left:15px;
}
.middle li {
	color:#000;
}
.sitemap {
	float:right;
	margin-right:50px;
}
.title {
	margin-top:5px;
}
div.my-form {
	position:relative;
	left:-30px;
	width:420px;
/*	border:1px solid blue;*/
}
div.inn {
	clear:both;
}
div.right-news p{
	text-align:left;
}
h1,h2,h3 {text-align:left}

div#lang_switch {
	float:right;
	width:50px;
	height:50px;
	margin-top:-40px;
/*	border:1px solid blue;*/
}
div.content_images {
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}