/*** main ***/

td {
    vertical-align: top;
}

div.clear { float: none; clear: both; }
.hidden   { visibility: hidden; }

div.hh5  { height:  5px; overflow: hidden; }
div.hh10 { height: 10px; overflow: hidden; }
div.hh15 { height: 15px; overflow: hidden; }

a img {
    border-width: 0px;
}





div.text-narrow {
    width: 420px;
    float: left;
/*    border: 1px solid blue;*/
}

div.text img, div.text-narrow img {
/*    margin: 5px;*/
/*    border: 1px solid #495d81;*/
}

div.text div.gallery-links, div.text-narrow div.gallery-links {
    margin-top: 10px;
    float: right;
}

div.text div.exhibition-info, div.text-narrow div.exhibition-info {
    padding: 10px 0px 10px 0px;
}

div.text div.exhibition-info div.label, div.text-narrow div.exhibition-info div.label {
    float: left;
    /*clear: left;*/
    text-align: left;
    width: 70px;
    font-weight: bold;
    padding: 0px 5px 0px 0px;
}

div.text div.exhibition-info div.info, div.text-narrow div.exhibition-info div.info {
    font-weight: bold;
    color: #ba1f25;
}



/*** form **/

div.error {
/*    font-weight: bold;*/
    color: #8c1113;
    text-align: center;
    padding: 0px 0px 5px 0px;
/*    font-size: 9pt;*/
}

div.my-form {
    padding: 0px 0px 0px 0px;
}

div.my-form div.input {
    margin-bottom: 3px;
    clear: both;
}

div.my-form label {
    width: 110px; /*27%;*/
    float: left; 
    text-align: right;
    padding-top: 3px;
    padding-right: 6px;
/*    font-weight: bold;*/
    clear: left;
/*    overflow: hidden;*/
    white-space: nowrap;
/*    background-color: #cccccc;*/
}

div.my-form span {
    font-size: 7pt;
    line-height: 200%;
}

div.my-form span.info {
    color: #707070;
    vertical-align: top;
}

div.my-form span.info-nreq {
    color: #909090;
    vertical-align: top;
    font-style: italic;
}

div.my-form span.warn {
    color: #4c1113;
    font-weight: bold;
    vertical-align: top;
}

div.my-form span.error {
    color: #ba1f25;
    font-weight: bold;
    vertical-align: top;
}

div.my-form div.desc {
    float: left;
    text-align: justify;
    margin-bottom: 5px;
    width: 240px;
    /*clear: right;*/
/*    font-size: 8pt;*/
}

div.my-form div.desc-wide {
    float: left;
    text-align: justify;
    margin-bottom: 5px;
    width: 100%;
    /*clear: right;*/
}

div.my-form textarea.wysiwyg {
    width: 400px;
    overflow: hidden;
    /*border:1px solid blue;*/
    /*margin-top:50px;*/
}

textarea {
    border: 1px solid #a02219;
    background-color: #fafafa;
    width: 240px;
    padding: 2px;
}

textarea.wide {
    width: 440px;
}

div.my-form input {
    border: 1px solid #396DBD;
    background-color: #fafafa;
    width: 240px;
    padding: 2px;
}

div.my-form input.calendar {
    width: 180px;
}

div.my-form input.checkbox {
    background: transparent;
    width: 13px;
    height: 13px;
    border-width: 0px;
}

div.my-form input.submit {
    width: 180px;
    font-weight: bold;
}

div.my-form input.file {
    background: transparent;
/*    background-color: #acbbd9;*/
}

div.my-form select.select {
    width: 240px;
    background-color: #fafafa;
}

div.my-form img.thumb {
    border: 2px solid #cccccc;
    margin-bottom: 5px;
}

div.my-form h2 {
    font-size: 11pt;
    color: #396DBD;
    border-bottom: 1px solid #396DBD;
    margin: 14px 0px 8px 0px;
    float: none;
    /*clear: both;*/
}


/*** table listing ***/

table.listing {
    width: 100%;
}

table.bottom-15 {
    margin-bottom: 15px;
}

table.listing thead, table.listing tfoot {
    font-weight: bold;
}

table.listing thead td {
    border-bottom: 1px solid #555555;
    vertical-align: bottom;
}

table.listing tfoot td {
    border-top: 1px solid #555555;
}

table.listing tr.odd {
}

table.listing tr.even {
    background-color: #eaeaea;
}

table.listing td {
    padding: 0px 6px 2px 6px;
    vertical-align: top;
    white-space: nowrap;
    text-align: left;
}

table.listing td.icon {
    padding: 0px 2px 0px 2px;
    width: 17px;
}

table.listing td.wrap {
    white-space: normal;
}

table.listing td.right {
    text-align: right;
}

table.listing td.center {
    text-align: center;
}

table.listing td.light {
    color: #747e93;
}

table.listing td.strong {
    font-weight: bold;
    color: #396DBD;
}

table.listing td.strong a {
    color: #396DBD;
}



/*** admin menu ***/

div.admin-menu {
    margin: 0px 0px 20px 0px;
}

div.admin-menu h3 {
    font-size: 13pt;
    font-weight: normal;
    margin: 0px 0px 4px 8px;
    padding: 0px;
    color: #396DBD;
}

ul.admin-menu {
/*    font-size: 12pt;*/
    margin: 0px 0px 10px 3px;
    padding-left: 20px;
    list-style-type: circle;
    color: #787878;
}

ul.admin-menu li {
}

ul.admin-menu ul {
    margin: 0px;
    padding: 0px 0px 3px 15px;
/*    list-style-type: square;*/
}

ul.admin-menu ul li {
}

ul.admin-menu li a {
    color: #606060;
    text-decoration: none;
}

ul.admin-menu li a:hover {
    color: #0b4a8f;
/*    text-decoration: none;*/
}

div.admin-link {
    text-align: right;
    margin-bottom: 0px;
}



ul.tasks {
    margin: 4px 0px 0px 10px;
    padding-left: 20px;
    list-style-type: circle;
}

ul.tasks ul {
    margin: 0px;
    padding-left: 15px;
/*    list-style-type: square;*/
}

ul.tasks li {
}



div.admin-link {
    text-align: right;
    margin-bottom: 0px;
}



/*** image listing ***/

div.image-listing {
/*    text-align: center;*/
/*    margin-left: 45px;*/
/*    margin-right: -15px;*/
    overflow: hidden;
    /*clear: both;*/
    margin: 4px 0px 2px 17px;
/*    border: 1px solid red;*/
}

div.image-listing div.img, div.image-listing div.img-default {
    float: left;
    background-color: #eaeaea;
    margin-left: 1px;
    margin-bottom: 1px;
    padding-top: 10px;
/*    width: 126px;*/
    width: 140px;
    height: 118px;
    text-align: center;
    overflow: hidden;
}

div.image-listing div.img-small {
    height: 105px;
}

div.image-listing img {
    border: 1px solid #bababa;
/*    border-right: 2px solid #444444;*/
/*    border-bottom: 2px solid #444444;*/
    height: 90px;
}

div.image-listing div.img-default img {
    border: 2px solid #888888;
}

div.image-listing div.actions {
    margin-top: -1px;
    font-size: 8pt;
    line-height: 100%;
    color: #404040;
}

div.image-listing div.actions a {
    color: #404040;
    text-decoration: none;
}



/*** image ***/

div.image {
/*    background-color: #fafafa;*/
/*    border: 1px solid #cccccc;*/
    margin: 15px 0px 20px 3px;
/*    padding: 22px 0px 22px 0px;*/
/*    width: 520px;*/
    text-align: center;
    overflow: hidden;
}

div.image img {
    text-align: center;
    border: 8px solid #606060;
}

div.image-info {
    text-align: justify;
    margin: 5px 5px 5px 5px;
}



/*** pager ***/

div.pager {
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
}

div.pager a.pager {
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

div.pager a.pager:hover {
    color: #000000;
}

div.pager span.disabled {
    color: #d0d0d0;
    padding: 0px 5px 0px 5px;
}

div.pager span.info {
    padding: 0px 10px 0px 10px;
}

.calendar-month,.calendar-year {
	text-align:center;
}
#calendar {
	width:160px;
	border:1px solid #0084d6;
	margin:auto;
	position:absolute;
	z-index:100;
	margin-left:390px;
	margin-top:-50px;
	background:#fff;
}
#calendar select {
	width:100px;
}
#calendar table {
	width:100%
}
#calendar td.selected a{
	color:#f00;
}

/*** Tabs ***/

div.cms-tabs {
    border-bottom: 1px solid #5f5f5f;
    margin: 0px;
    padding: 0px;
    margin: 0.5em 0 1.1em 0;
    padding: 0 0.8em 0 0.8em;
    font-size: 0.9em;
}

div.cms-tabs2 {
    margin: -0.4em 0.8em 1.5em 0.8em;
}

div.cms-tabs div {
    float: left;
    border: 1px solid #909090;
    border-bottom-width: 0px;
    margin: 2px 1px 0px 0px;
    color:#5f5f5f;
}

div.cms-tabs div a {
    padding: 0em 0.5em;
    text-decoration: none;
    background-color: #eaeaea;
    color: #909090;
}

div.cms-tabs div a:hover {
    background-color: #f0f0f0;
    color: #5f5f5f;
}

div.cms-tabs div.right {
    float: right;
    border-width: 0px;
    margin: 0px;
}

div.cms-tabs div.tab-language {
    text-transform: uppercase;
}

div.cms-tabs div.selected {
    border: 1px solid #5f5f5f;
    border-bottom: 2px solid #ffffff;
    margin-top: 0px;
    margin-bottom: -1px;
    padding-top: 2px;
    font-weight: bold;
}

div.cms-tabs div.selected a, div.cms-tabs div.selected a:hover {
    background: none;
    color: #5f5f5f;
    padding: 0em 0.8em;
}

div.cms-tabs div.clear {
    float: none;
    clear: both;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 0px;
    overflow: hidden;
}

table.listing td img,div.input a img {
	width:16px;
	height:16px;
}
div.fotoitem {
	width:130px;
	float:left;
}

div.product-info {
	width:150px;
	float:left;
}
div.product-details {
	width:200px;
	float:left;
	padding-top:20px;
}
div.product-cart {
	clear:both;
}
input#pocet {
	width:20px;
}
div.product-simple {
	margin-bottom:20px;
}